.home_main {

    background-image: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("../../assets/imgs/home_bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: calc(100vh - 104px);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}






.content {
	position: relative;
    width: 100%;
    max-width: 900px;
}

.content h2 {
	color: #fff;
	font-size: 65px;
	position: absolute;
	transform: translate(-50%, -50%);
    left: 50%;
    top: 0;
    white-space: nowrap;
}

.content h2:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px #fabf3d;
}

.content h2:nth-child(2) {
	color: #fabf3d;
	animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}




.main_banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner_bottom_text {
    color: #333;
    font-family: tahoma;
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.5;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 450px;
    margin-top: 52px;
  }
  
  .banner_bottom_text span {
    font-size: 40px;
    color: #fff;
  }
  
  .message {
    background-color: #fabf3d;
    color: #333;
    display: block;
    font-weight: 900;
    overflow: hidden;
    position: absolute;
    padding-left: 0.5rem;
    top: 0.2rem;
    left: 197px;
    animation: openclose 10s ease-in-out infinite;
  }
  
  .word1, .word2, .word3 {
    font-family: tahoma;
  }
  
  @keyframes openclose {
    0% {
      top: 0.2rem;
      width: 0;
    }
    5% {
      width: 0;
    }
    15% {
      width: 260px;
    }
    30% {
      top: 0.2rem;
      width: 260px;
    }
    33% {
      top: 0.2rem;
      width: 0;
    }
    35% {
      top: 0.2rem;
      width: 0;
    }
    38% {
      top: -4.5rem;
      
    }
    48% {
      top: -4.5rem;
      width: 190px;
    }
    62% {
      top: -4.5rem;
      width: 190px;
    }
    66% {
      top: -4.5rem;
      width: 0;
      text-indent: 0;
    }
    71% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    86% {
      top: -9rem;
      width: 285px;
    }
    95% {
      top: -9rem;
      width: 285px;
    }
    98% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    100% {
      top: 0;
      width: 0;
      text-indent: 0;
    }
  }

  .scroll-container{
    width: 30px;
    height: 60px;
    border: 3px solid #fff;
    border-radius: 15px;
    position: relative;
  }
  
  .scroller{
    width: 16px;
    border-radius: 8px;
    background-color: #fabf3d;
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 34px;
    animation: scroller 2s ease-out infinite;
  }
  
  @keyframes scroller{
    0%{
      bottom: 34px;
    }
    5%{
      top: 4px;
    }
    32%{    
      bottom: 4px;
    }
    66%{
      top: 34px;
      bottom: 4px;
    }
    100%{
      top: 4px;
      bottom: 34px;
    }
  }

  .scroll_link {
    cursor: pointer;    
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    animation: scrolToggle 3s linear infinite;
  }

  @keyframes scrolToggle {

    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(3px);
    }
    100% {
      transform: translateY(0);

    }
  }




  @media only screen and (max-width: 992px) {
      .content h2 {
        font-size: 32px;
    }

    .main_banner {
      width: 100%;
    }


    .banner_bottom_text {
      margin-top: 16px;
      transform: scale(0.4);
    }

    .home_main {

      align-items: flex-start;
      padding-top: calc(80px + 35%);
    }

  }