footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    width: 100%;
    border-top: 2px solid #fabf3d;
    padding: 50px 20px;
} 



@media only screen and (max-width: 992px) {
    footer {

        padding: 30px 20px;
    }


}