* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: 'Oswaldbold';
}

@font-face {
  font-family: 'Signika';
  src: url('./assets/fonts/Signika-Light.woff2') format('woff2'),
      url('./assets/fonts/Signika-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: 'Oswaldbold';
  src: url('./assets/fonts/Oswald-SemiBold.woff2') format('woff2'),
      url('./assets/fonts/Oswald-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #000;
}

body.overflow {
  overflow: hidden;
}

p {
  margin-bottom: 15px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 1px;
  background-color: #000;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #fabf3d; 
  border-radius: 1px;
}


.min-height {
  min-height: calc(100vh - 128px);
}