.common_title {
    display: flex;
    justify-content: center;
    width: 100%;
    h3 {
        position: relative;
        font-size: 60px;
        color: #fff;
        &:after {
            position: absolute;
            bottom: -5px;
            left: 50%;
            transform: translateX(-50%);
            width: 120%;
            height: 5px;
            background-color: #fabf3d;
            content: "";
            border-radius: 20px;

        }
    }

}


@media only screen and (max-width: 992px) {


    .common_title  {
            margin-bottom: 40px;
        h3 {

            font-size: 33px;
        }
    }
}